.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*cabeçalho*/
.content { 
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  padding-left: 5rem;
  box-shadow: 0 0.1rem 0.5rem #6D4613;
}
.logo {
  width: 40px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo span {
  color: #6D4613;
  font-size: 1rem;
  font-weight: 00;
}
.logo h3 {
  color: #ffff;
  font-size: 1rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

.nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 30px;
  margin: 0;
}

.nav-link li {
  margin-right: 10px; 
  cursor: pointer;
}

.nav-link li:last-child {
  margin-right: 5px; 
}

.main-section {
  height: 80vh;
  background-image: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url('https://images.pexels.com/photos/15076694/pexels-photo-15076694/free-photo-of-coffee.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.pnj');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
}

.btn-primary {
  background-color: #6D4613;
  border-color: #fff;
  color: #fff;
  padding: 15px 30px; 
  border-radius: 25px; 
}

.btn-primary:hover {
  background-color: #6D4613;
  border-color: #fff;
  color: #000;
}

.btn-primary.active,
.btn-primary.active:hover {
  background-color: #cccccc;
  border-color: #fff;
  color: #000;
}

.btn-primary:not(.active):hover {
  background-color: #6D4613;
  border-color: #fff;
  color: #000;
}

.btn-primary:not(.active) {
  background-color: #6D4613;
  border-color: #fff;
  color: #fff;
}

.btn.custom-btn.active {
  background-color: pink;
  border-color: #fff;
  color: #fff;
}

.btn.custom-btn.active:hover {
  background-color: #6D4613;
  border-color: #fff;
  color: #000;
}

.btn-secondary {
  background-color: #FF8484;
  border-color: #fff;
  color: #fff;
  padding: 3px 10px;
  border-radius: 15px;
  margin-top: 80px; 
}

.btn-secondary:hover {
  background-color: #FF8484;
  border-color: #000;
  color: #000;
}

.container {
  max-width: 2300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row.justify-content-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.card {
  border: 10px solid #ccc;
  border-radius: 50px;
  background-color: #D9D9D9;
  color: #000000;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 80%;
  padding: 5px;
  max-width: 30rem; 
  margin-top: 10px;
  left: 50px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  height: 250px;
  width: 100%; 
  object-fit: cover; 
  object-position: center;
  border-radius: 30px;
}

.slick-slider {
  max-width: 90%; 
  margin: 0 auto; 
  background-color: #D9D9D9;
}


.slick-prev,
.slick-next {
  background-color: #ccc; 
  border-radius: 50px;
}


.slick-prev:hover, .slick-next:hover {
  background-color: #FF8484;
}


.bg-secundario{
  background-color: #EADDD1;
}


.bg-card{
  background-color: #FFF7E1;
}

.text-secundario{
  color: #402913;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

.pedido-confirmado {
  background-color: #e6ffe6;
}

.pedido-cancelado {
  background-color: #ffe6e6;
}

/*Carrinho*/

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
main {
  padding: 20px;
}

.summary {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ebe5e5;
}

.summary table {
  width: 100%;
}

.summary table th,
.summary table td {
  text-align: left;
  padding: 8px 0;
}

.summary table th {
  width: 50%;
}

.summary .total {
  font-weight: bold;
}

.payment-methods {
  margin-top: 20px;
  text-align: center;
}

.payment-methods p {
  margin-bottom: 40px;
}

.payment-methods button i {
  margin-right: 10px;
}

.payment-methods button {
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #45a049;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.payment-methods button:hover {
  opacity: 0.8;
}


.order-finalization {
  text-align: center;
}

.confirm-button,
.cancel-button {
  background-color: #FE7E47; 
  color: #1B1D1E;
  border: 2px solid #FE7E47; 
  border-radius: 20px;
  padding: 15px 80px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.cancel-button {
  background-color: #D9D9D9; 
  border: 2px solid #D9D9D9; 
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.5;
}


.product {
  display: flex;
  align-items: center;
}

.product img {
  border-radius: 6px;
  margin-right: 10px;
}

.product .info {
  flex: 1;
}

.product .title {
  font-weight: bold;
}

.product .price {
  font-size: 16px;
  color: #666;
}

.qty {
  display: flex;
  align-items: center;
}

.qty button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.qty button i {
  font-size: 20px;
  color: #333;
}

.qty span {
  margin: 0 10px;
  font-size: 16px;
}

.total-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebe5e5; 
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.total-section h2 {
  margin: 0; 
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
}

.produto-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
}

.produto-info {
  flex: 1; 
}

.produto-info p {
  margin-bottom: 5px; 
}

.produto-title {
  font-weight: bold; 
}


.produto-image img {
  max-width: 100px; 
  height: auto;
  margin-right: 100px; 
}


/*Finaliza Pedido*/

.finalize-order {
  background-color: #FE7E47;
  color: #1B1D1E;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 15px 80px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.finalize-order:hover {
  opacity: 0.5;
}

.return-home {
  background-color: #D9D9D9;
  color: #1B1D1E;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 15px 80px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.return-home:hover {
  opacity: 0.5;
}

#selected-option {
  margin-top: 10px;
  font-weight: bold;
}

.delivery-options {
  margin-top: 20px;
  text-align: center;
}

.delivery-options p {
  margin-bottom: 10px;
}

.delivery-options button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.delivery-options button:hover {
  background-color: #0056b3;
}

#delivery-selected {
  margin-top: 10px;
  font-weight: bold;
}
